@model ProductViewModel
@{
    Layout = null;
}
<div class="modal-header bg-secondary py-1">
    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    <p class="fw-bold my-2">@Model.Product.CrudTitle()</p>
</div>

<div class="modal-body tab-content py-4">
    @using (Html.BeginForm("CreateOrUpdate", "Product", new { area = "Admin" }, FormMethod.Post, true, new { onsubmit = "return jQueryAjaxPost(this)", autocomplete = "off" }))
    {
        <input type="hidden" asp-for="Product.ProductId" />
        <div class="mb-3">
            <label asp-for="Product.CategoryId" class="form-label"></label>
            <select asp-for="Product.CategoryId" class="form-control" asp-items="Model.Categories.ToSelectListItem(nameof(Category.CategoryId), nameof(Category.Title), Model.Product.CategoryId)" autofocus></select>
            <span asp-validation-for="Product.CategoryId" class="invalid-feedback"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Name" class="form-label"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="invalid-feedback"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Price" class="form-label"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="invalid-feedback"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.DiscountPercent" class="form-label"></label>
            <input asp-for="Product.DiscountPercent" class="form-control" />
            <span asp-validation-for="Product.DiscountPercent" class="invalid-feedback"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">تصاویر محصول</label>
            <div class="input-images mb-4"></div>
        </div>
        <div class="mb-3">
            <label asp-for="Product.OptionalComment" class="form-label"></label>
            @Html.TextAreaFor(m => m.Product.OptionalComment, 3, 0, new { @class = "form-control" })
            <span asp-validation-for="Product.OptionalComment" class="invalid-feedback"></span>
        </div>
        <div class="form-check form-check-inline mb-3">
            <input asp-for="Product.IsActive" class="form-check-input" />
            <label asp-for="Product.IsActive" class="form-check-label"></label>
        </div>
        <button class="btn btn-primary d-block w-100" type="submit">تایید</button>
    }
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script src="~/js/site-scripts/image-uploader.js"></script>
    <script>
        $(function () {
            $('.input-images').imageUploader();
        });
    </script>
}
