<footer class="footer bg-dark pt-5">
    <div class="container">
        <div class="row pb-3">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex">
                    <i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
                    <div class="ps-3">
                        <h6 class="fs-base text-light mb-1">تحویل سریع و رایگان</h6>
                        <p class="mb-0 fs-ms text-light opacity-50">تحویل رایگان برای تمامی سفارشات بالای 400 هزار تومان</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex">
                    <i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
                    <div class="ps-3">
                        <h6 class="fs-base text-light mb-1">تضمین بازگشت وجه</h6>
                        <p class="mb-0 fs-ms text-light opacity-50">تا دو روز امکان برگشت محصول خریداری شده</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex">
                    <i class="ci-support text-primary" style="font-size: 2.25rem;"></i>
                    <div class="ps-3">
                        <h6 class="fs-base text-light mb-1">پشتیبانی تمام وقت</h6>
                        <p class="mb-0 fs-ms text-light opacity-50">7 روز هفته، 24 ساعت شبانه روز</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex">
                    <i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
                    <div class="ps-3">
                        <h6 class="fs-base text-light mb-1">پرداخت امن</h6>
                        <p class="mb-0 fs-ms text-light opacity-50">با داشتن نماد اعتماد، از بابت پرداخت خود مطمئن باشید</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-light mb-5">
        <div class="row">
            <div class="col-md-6 text-center text-md-start pb-1">
                <div class="widget widget-links widget-light">
                    <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                        <li class="widget-list-item me-4"><a class="widget-list-link" asp-area="" asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="widget-list-item me-4"><a class="widget-list-link" asp-area="" asp-controller="Product" asp-action="Index">لیست محصولات</a></li>
                        <li class="widget-list-item me-4"><a class="widget-list-link" asp-area="" asp-controller="Home" asp-action="Faq">سوالات متداول</a></li>
                        <li class="widget-list-item me-4"><a class="widget-list-link" asp-area="" asp-controller="Home" asp-action="About">درباره ما</a></li>
                        <li class="widget-list-item me-4"><a class="widget-list-link" asp-area="" asp-controller="Home" asp-action="Contact">تماس با ما</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <div class="mb-3">
                    <a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i class="ci-twitter"></i></a>
                    <a class="btn-social bs-light bs-facebook ms-2 mb-2" href="#"><i class="ci-facebook"></i></a>
                    <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i class="ci-instagram"></i></a>
                    <a class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i class="ci-pinterest"></i></a>
                    <a class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i class="ci-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="pb-4 fs-xs text-light opacity-50 text-center">© تمامی حقوق محفوظ است</div>
    </div>
</footer>
