<div class="row align-items-center py-md-3">
    <div class="col-lg-5 col-md-6 offset-lg-1 order-md-2">
        <img class="d-block rounded-3" src="img/shop/single/prod-img.jpg" alt="Image">
    </div>
    <div class="col-lg-4 col-md-6 offset-lg-1 py-4 order-md-1">
    </div>
</div>

<div class="row align-items-center py-4 py-lg-5">
    <div class="col-lg-5 col-md-6 offset-lg-1">
        <img class="d-block rounded-3" src="img/shop/single/prod-map.png" alt="Map">
    </div>
    <div class="col-lg-4 col-md-6 offset-lg-1 py-4">
    </div>
</div>