<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>Cartzilla | Fashion Store v.1</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="مهتن - فروش انواع لباس زنانه">
    <meta name="keywords" content="مهتن, لباس زیر, فروش لباس زنانه">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="~/css/simplebar.css" />
    <link rel="stylesheet" media="screen" href="~/css/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="~/css/drift-basic.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/css/theme.css">
</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
    <main class="page-wrapper">
        @RenderBody()
    </main>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/smooth-scroll.js"></script>
    <!-- Main theme script-->
    <script src="~/js/theme.js"></script>
</body>

</html>