@model AccountViewModel

<div class="modal d-block">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header bg-secondary pb-0">
                <div class="d-flex justify-content-between w-100">
                    <p class="fw-bold">ورود</p>
                    <p class="fs-sm fw-bold">
                        حساب ندارید ؟ <a asp-area="Identity" asp-controller="Account" asp-action="Register">ثبت نام کنید</a>
                    </p>
                </div>
            </div>
            <div class="modal-body tab-content py-4">
                @using (Html.BeginForm("Login", "Account", new { area = "Identity", returnUrl = ViewData["returnUrl"] }, FormMethod.Post, true, new { @class = "needs-validation tab-pane fade show active", autocomplete = "off" }))
                {
                    <div class="mb-3">
                        <label asp-for="LoginViewModel.PhoneNumber" class="form-label"></label>
                        <input asp-for="LoginViewModel.PhoneNumber" class="form-control" autofocus />
                        <span asp-validation-for="LoginViewModel.PhoneNumber" class="invalid-feedback"></span>
                    </div>
                    <div class="mb-3">
                        <div class=" d-flex flex-wrap justify-content-between">
                            <label class="form-label" for="login-password">کلمه عبور</label>
                            <a class="fs-sm" asp-area="Identity" asp-controller="Account" asp-action="ForgotPassword">کلمه عبور را فراموش کرده اید ؟</a>
                        </div>
                        <input asp-for="LoginViewModel.Password" type="password" class="form-control" id="login-password" />
                        <span asp-validation-for="LoginViewModel.Password" class="invalid-feedback"></span>
                    </div>
                    <div class="form-check form-check-inline mb-3">
                        <input asp-for="LoginViewModel.RememberMe" class="form-check-input" />
                        <label asp-for="LoginViewModel.RememberMe" class="form-check-label"></label>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">ورود</button>
                }
                <div class="d-flex align-items-center py-3">
                    <hr class="w-100">
                    <div class="px-3">یا</div>
                    <hr class="w-100">
                </div>
                <button type="button" class="btn w-100 btn-outline-primary mb-2">
                    ورود با گوگل <i class="ci-google"></i>
                </button>
            </div>
        </div>
    </div>
</div>